.cm- {
  &editor {
    background-color: theme("backgroundColor.zinc.800");
  }

  &content {
    padding: theme("padding.0") !important;
    font-family: theme("fontFamily.mono");
    font-size: theme("fontSize.xs");
  }

  &activeLine {
    background-color: theme("backgroundColor.zinc.700") !important;
  }

  &selectionBackground {
    background-color: theme("backgroundColor.zinc.600") !important;
  }
}

.ͼ {
  &63,
  &68 {
    color: cyan;
  }
}
