.cm- {
  &editor {
    background-color: theme("backgroundColor.zinc.900");
    color: theme("colors.slate.400");
  }

  &content {
    padding: 0;
  }

  &activeLine {
    background-color: theme("backgroundColor.zinc.800") !important;
    color: theme("colors.slate.50");
  }

  &selectionBackground {
    background-color: theme("backgroundColor.zinc.700") !important;
  }

  &cursor,
  &dropCursor {
    border-left-color: lime !important;
  }
}
