::-webkit-scrollbar {
  width: 0.5rem;

  &-track {
    background-color: transparent;
  }

  &-thumb {
    border-radius: 1rem;
    background-color: #555;

    &:hover {
      background-color: #fff;
    }
  }
}
